* {
  box-sizing: border-box;
  text-wrap: wrap;
  padding: 0;
  margin: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #4C4B16;
}

.main {
  padding: 20px;
  position: absolute;
  width: 100vw;
  height: 100vh;
  color: antiquewhite;
  display: flex;
  align-items: center;
}

/* .swiper {
  height: 100%;
  width: 100%;
} */

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.main section {
  padding: 20px;
}

.slide {
  display: flex !important;
  justify-content: space-between;
  gap: 300px;
}

.slide .slide-content {
  background-color: rgba(179, 167, 161, 0.4);
  padding: 20px;
  border-radius: 5px;
}